@charset "UTF-8";

body {
	
}

form {
	margin-top: -40px;
	margin-bottom: 25px;
	margin-left: 32px;
	font-size: 28px;
}

p {
	margin-left:542px;
	font-size: 40px;
	margin-bottom:80px;
}

input {
	margin-top:45px;
	font-size:28px;
}

input:last-child {
	text-align: center;
    color:white;
    background:cyan;/*背景色*/
}

input.hoge {
	width:350px;
}

a {
	font-size:20px;
	margin-left:165px;
}


a:last-child{
	margin-left: 45px;
}

.box3 {
    background-color:lightgrey;
    margin-left: 450px;
    margin-right:400px;
}


