@charset "UTF-8";

body {
}
form {
	font-size:50px;
	margin-left:32px;
}

input {
	font-size:28px;
	margin-top:50px;
}

input.hoge {
	width:160px;
}

input:last-child {
	color:white;
	background:cyan;
	margin-left:95px;
}

h3 {
	font-size:40px;
	margin-left:128px;
}

.box3 {
	 background-color:lightgrey;
    margin-left: 450px;
    margin-right:400px;
}